body {
  background-color: rgb(240, 239, 239); /* The background should change */
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px, 20px;
  background-color: #333;
  color: white;
}

/* Navigation links */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

/*  Links */
.navbar a {
  color: white; /* Change text color */
  text-decoration: none; /* Remove underline */
  padding: 10px 15px; /* Add some spacing */
}

/*  Hover Effect */
.navbar a:hover {
  color: lightblue; /* Change color on hover */
}
